
<div>
  <p>this is my first angular js</p>
  <form #form="ngForm" (ngSubmit)="submit(form)">
    姓名:<input type="text" [(ngModel)]="user" #user1="ngModel" required minlength="2" name="user1" class="ng-invalid"
    />
    <span *ngIf="user1.errors?.required" class="color">请输入用户名</span>
    {{user.errors | json}}
    <br/>
    密码: <input type="password" [(ngModel)]="pass" #pass1="ngModel" required name="pass"/>
    {{pass1.errors | json}}
    <br/>
    <input type="submit" value="login"/>
  </form>
</div>


